// Application level styles
// Code style hint: Consider using BEM (http://getbem.com/introduction/) for your app

.landing {
    height: 100vh;
    background-color: #2b38e1;
    color: white;
    padding: 70px;

    .menu {
        background: #2b38e1 !important;
    }
    
    nav {
        position: unset;
        background-color: unset;
        border-bottom: unset;
        box-shadow: unset;

        .mainButton {
            padding: 15px;
            background: white;
            color: #2b38e1;
            // font-weight: bold;
            text-transform: uppercase;
        }
    }

    .payment-card {
        padding: 20px;
        background-color: white;
        min-height: 300px;
        border: 1px solid #550033;
        color: #550033;
    }

    &__content {
        margin-top: 100px;
    }

    .payment-option {
        button {
            background: transparent;
            border: 1px solid red;
            color: red;
            display: block;
            width: 100%;
        }
    }

    .pay-button {
        margin-left: auto;
        margin-right: 0;
        width: 20%;
    }
}
