// Application level styles

.landing-page {
    background-color: #2b38e1;
    padding: 70px 70px 240px;
    min-height: auto;

    @media screen and (max-width: 600px) {
        padding: 35px;
    }
}

.landing {
    color: white;
    // max-width: 1080px;

    &__content {
        align-items: center;
        margin-top: 100px;
        @media screen and (max-width: 600px) {
            margin-top: 30px;
        }
    }

    &__description {
        @media screen and (max-width: 600px) {
            padding-bottom: 40px;
        }
    }

    &__description-subtitle {
        font-size: 16px;
    }

    .payment-card {
        padding: 20px;
        background-color: white;
        min-height: 300px;
        border: 1px solid #550033;
        color: #550033;
    }

    .payment-options {
        margin-top: 30px;
    }

    .payment-option {
        button {
            background: transparent;
            border: 1px solid red;
            color: red;
            display: block;
            width: 100%;
        }
    }

    .payment-description {
        font-size: 16px;
    }

    .pay-button {
        margin-left: auto;
        margin-right: 0;
        display: block;
    }
}
